---
layout: default
---

<h1>Portfolio</h1>
<main class="work">

  {% for work in site.portfolio %}
  <a href="{{ work.url }}">
    <section class="card">
      <div class="grow">
        <img src="{{ work.cover-image }}" alt="{{ work.title }}">
      </div> 
      <h4>{{ work.title }}</h4> 
    </section>
  </a>
  {% endfor %}
  
</main>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div> -->

