{% include head.html %}
{% include header.html %}
  
  <h1>{{ page.title }}</h1>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Methods</h4>
        <ul>
          <li>Branding</li>
          <li>Responsive</li>
          <li>Sketch</li>
          <li>HTML5</li>
          <li>Bulma</li>
        </ul>
      </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>Live</li>
        </ul>
      </div>
  
      <div>
        <h4>Future Features</h4>
        <ul>
          <li>Expansion on Current Website</li>
        </ul>
      </div>
    </div>

    <div class="proto">
        <a href="https://www.allupconsulting.com/" target="_blank" class="button is-dark">View Live Website</a>

</div>
</main>


{% include footer.html %}
{% include scripts.html %}