{% include head.html %}
{% include header.html %}
  
<div class="hero" style="background-image: url('{{ work.cover-image }}')">
        <h1>{{ page.title }}</h1>
      </div>
      
      <main class="project">
        <div class="info">
          <div class="descrip">
            <h3>Overview</h3>
            {{content}}
          </div>

          <div>
                <h4>Concepts</h4>
                <ul>
                  {% for work in site.portfolio %}
                  <li>{{ work.concepts }}</li>
                  {% endfor %}
                </ul>
              </div>
          
              <div>
                <h4>Status</h4>
                <p>{{ work.status }}</p>
              </div>
          
              <div>
                <h4>Future Features</h4>
                <ul>
                    {% for work in site.portfolio %}
                    <li>{{ work.future-features }}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>

            <div class='carousel is-3 carousel-animated carousel-animate-slide'>
                    <div class='carousel-container'>
                    {% for work in site.portfolio %}
                      <div class='carousel-item'>
                        <figure class="image"><img src="{{ work.screens-image }}"></figure>
                        <figcaption>
                          <p>{{ work.screens-descrip }}</p>
                        </figcaption>
                      </div>
                    {% endfor %}
                    </div>
                    <div class="carousel-navigation is-centered">
                      <div class="carousel-nav-left">
                        <svg viewBox="0 0 50 76">
                    <path fill="#FFF" fill-rule="evenodd" d="M.7441355 38.1333512L-3e-7 37.476042 42.42640656 9e-7l6.36396103 5.6214062L12.6212923 37.5702298 49.427874 70.08217384 43.06391297 75.70358.6375061 38.227539z"/>
                  </svg>
                      </div>
                      <div class="carousel-nav-right">
                        <svg viewBox="0 0 50 76">
                    <path fill="#FFF" fill-rule="evenodd" d="M48.6837385 37.5702288l.7441358.6573092L7.00146744 75.7035791.63750641 70.0821729 36.8065817 38.1333502 0 5.62140616 6.36396103 0 48.7903679 37.476041z"/>
                  </svg>
                      </div>
                    </div>
                  </div>










{% include footer.html %}
{% include scripts.html %}