{% include head.html %}
{% include header.html %}

<h1>{{ page.title }}</h1>
<main class="resume">
        <div class="right">
          <h2>Experience</h2>
          {% for resume in site.data.resume.work %}
             <article class="list-item">
            <div class="side-bar">
              <h4>{{ resume.work.company }}</h4>
              <h4>{{ resume.work.startDate }} - {{ resume.work.endDate }}</h4>
            </div>
            <div class="descrip">
              <h4>{{ resume.work.position }}</h4>
              <p>{{ resume.work.summary }}</p>
            </div>
          </article>
          {% endfor %}
          <h2>Education</h2>
          {% for resume in site.data.resume.education %}
          <article class="list-item">
            <div class="side-bar">
              <h4>{{  resume.education.institution }}</h4>
              <h4>{{ resume.education.startDate }} - {{ resume.education.endDate }}</h4>
            </div>
            <div class="descrip">
              <h4>{{  resume.education.studyType }} {{  resume.education.area }}</h4>
              <p>{{  resume.education.gpa }}</p>
            </div>
          </article>
          {% endfor %}
           <h2>Skills</h2>
            <div class="skills">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sapiente aliquid vero sunt, necessitatibus quam atque, molestiae ex itaque dicta quibusdam, accusamus sit quas voluptatum ullam porro dolores tempore laboriosam!</p>
            </div>
        </div>
      </main>

{% include footer.html %}
{% include scripts.html %}
