{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Concepts</h4>
        <ul>
          <li>UI Design</li>
          <li>Remixing</li>
        </ul>
      </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>Concept</li>
        </ul>
      </div>
    </div>

    <!-- <h2>Remixing</h2>
    <section class="remix">
    <div>
      <p>An important part of SPACED was the booking bar because that was the main purpose of the site according to the client. The selected planet can be selected from the drop down menu or the planet carousel. SPACED currently has only one take-off location so the main information needed to book a trip is the destination, the duration of the trip, the number of  adults and the number of children.</p>
      <p>Another important aspect of the website was the available destinations and featured trips.</p>
      <p>Social cards that display positive customer feedback and the amenities that SPACED offers are important to the website to give the space travel company a good reputation.</p>
    </div>
    <img src="assets/img/spaced/remixing.png" alt="Remixing">
    <img src="assets/img/spaced/wireframe.png" alt="Wireframe">
  </section>
  <section class="visual">
    <div>
      <p>My goal was to make the center of focus the different planets that SPACED has available for travel in a way that resembles the solar system. The selected planet is the largest and is highlighted while the other planets are smaller and resemble the a circular formation. I was also very inspired by the rings that some of the planets have, so I decided to use a ring as a selected state.</p>
      <p>The client was looking for one accent color to be apart of the brand. I decided to go with a bright modern color that contrasts well with a dark background. I chose a modern font with very circular counter forms, Montserrat. I also tilted or italicized some of the text to simulate fast movement, like space travel.</p>
    </div>
    <img src="assets/img/spaced/moodboard.png" alt="Moodboard">
  </section> -->
    <div class="proto">
      <a href="https://vlandguth.github.io/spaced" target="_blank" class="button is-dark">View Live Website</a>
      <iframe width="442" height="935" src="//invis.io/VJGDC6456SR" frameborder="0" allowfullscreen></iframe>
     <img class="screen" src="/assets/img/spaced/webhome.png" alt="SPACED Web Home Page">


</div>
</main>


{% include footer.html %}
{% include scripts.html %}