{% include head.html %}
{% include header.html %}
  
<main>
  <h1>{{ page.title }}</h1>
  <section class="overview">
    <div><img src="_uploads/SPACEDblue_mockup-min.png" alt=""></div>
    <div>
      <h2>Overview</h2>
      <p>The SPACED challenge was about designing either a logo, a website, or an app for a fictional space travel company that takes passengers to different destinations in our galaxy in one day, and back to Earth safely. This project was an opportunity for me to grow my UI skills and get feedback from a professional.</p>
      <h2>Part One</h2>
      <h3>Project Timeline</h3>
      <ul>
        <li>April - March 2018</li>
      </ul>
      <h3>UX Concepts</h3>
      <ul>
        <li>UI Design</li>
        <li>Remixing</li>
      </ul>
      <h3>UX Tools</h3>
      <ul>
        <li>Sketch</li>
        <li>InVision</li>
      </ul>
      <h2>Part Two</h2>
      <h3>Project Timeline</h3>
      <ul>
        <li>October - November 2018</li>
      </ul>
      <h3>Web Design Tools</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS (Flexbox, CSS Grid)</li>
        <li>JQuery</li>
      </ul>
      <h3>Status</h3>
      <ul>
        <li>Version 1 Complete</li>
      </ul>
    </div>
  </section>
  
  <section class="overview">
    <div><img src="/assets/img/spaced/remixing.png" alt="SPACED Remixing Process"></div>
    <div>
      <h2>Remixing and Wireframing</h2>
      <p>An important part of SPACED was the booking bar because that was the main purpose of the site according to the client. The selected planet can be selected from the drop down menu or the planet carousel. SPACED currently has only one take-off location so the main information needed to book a trip is the destination, the duration of the trip, the number of adults and the number of children.</p>
      <p>Another important aspect of the website was the available destinations and featured trip packages.</p>
      <p>Social cards that display positive customer feedback and the amenities that SPACED offers are important to the website to give the space travel company a good reputation.</p>
    </div>
  </section>
  <section class="overview">
    <div><img src="/assets/img/spaced/spacedvisual.png" alt="SPACED Visual Design"></div>
    <div>
      <h2>Visual Design</h2>
      <p>My goal was to make the center of focus the planets that SPACED has available for travel in a way that resembles the solar system. The selected planet is the largest and is highlighted while the other planets are smaller and resemble a circular formation. I was also very inspired by the rings that some of the planets have, so I decided to use a ring as a selected state.</p>
      <p>The client was looking for one accent color to be apart of the brand. I decided to go with a bright modern color that contrasts well with a dark background. I chose a modern font with very circular counter forms, Montserrat. I also tilted or italicized some of the text to simulate fast movement, like space travel.</p>
    </div>

  </section>
  </main>


{% include footer.html %}
{% include scripts.html %}