{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>The SPACED challenge was about designing either a logo, a website, or an app for a fictional space travel company that takes passengers to different destinations in our galaxy in one day, and back to Earth safely. This project was an opportunity for me to grow my UI skills and get feedback from a professional.</p>
      </div>
  
      <div>
        <h4>Concepts</h4>
        <ul>
          <li>UI Design</li>
          <li>Remixing</li>
        </ul>
      </div>
  
      <div>
        <h4>Status</h4>
        <p>Concept</p>
      </div>
  
      <div>
        <h4>Future Features</h4>
        <p>Web Development</p>
      </div>
    </div>

  <div class='carousel is-3 carousel-animated carousel-animate-slide'>
  <div class='carousel-container'>
    <div class='carousel-item is-active'>
      <figure class="image"><img src="/assets/img/spaced/webhome.png"></figure>
      <figcaption>
        <p>Web Home Page</p>
      </figcaption>
    </div>
    <div class='carousel-item'>
      <figure class="image"><img src="/assets/img/spaced/apphome.png"></figure>
      <figcaption>
        <p>App Home Page</p>
      </figcaption>
    </div>
    <div class='carousel-item'>
      <figure class="image"><img src="/assets/img/spaced/packages.png"></figure>
      <figcaption>
        <p>Travel Packages</p>
      </figcaption>
    </div>
    <div class='carousel-item'>
      <figure class="image"><img src="/assets/img/spaced/amenities.png"></figure>
      <figcaption>
        <p>Amenities Page</p>
      </figcaption>
    </div>
    <div class='carousel-item'>
      <figure class="image"><img src="/assets/img/spaced/reviews.png"></figure>
      <figcaption>
        <p>Reviews Page</p>
      </figcaption>
    </div>
  </div>
  <div class="carousel-navigation is-centered">
    <div class="carousel-nav-left">
      <svg viewBox="0 0 50 76">
  <path fill="#FFF" fill-rule="evenodd" d="M.7441355 38.1333512L-3e-7 37.476042 42.42640656 9e-7l6.36396103 5.6214062L12.6212923 37.5702298 49.427874 70.08217384 43.06391297 75.70358.6375061 38.227539z"/>
</svg>
    </div>
    <div class="carousel-nav-right">
      <svg viewBox="0 0 50 76">
  <path fill="#FFF" fill-rule="evenodd" d="M48.6837385 37.5702288l.7441358.6573092L7.00146744 75.7035791.63750641 70.0821729 36.8065817 38.1333502 0 5.62140616 6.36396103 0 48.7903679 37.476041z"/>
</svg>
    </div>
  </div>
</div>
</main>


{% include footer.html %}
{% include scripts.html %}