{% include head.html %}
{% include header.html %}
  
<h1>{{ page.title }}</h1>
<section class="overview">
  <div><img src="https://via.placeholder.com/440x390" alt=""></div>
  <div>
    <h2>Overview</h2>
    <p>A Weather.com experience for OpenCar which required researching the website contents and deciding what would be relevant to a driver. I created an information architecture and wireframes based on my research. Then I used the styleguide I made, to create visuals and a prototype version to present to the stakeholders.</p>
    <h3>UX CONCEPTS</h3>
    <ul>
      <li>Information Architecture</li>
      <li>Wireframes</li>
      <li>Prototyping</li>
    </ul>
    <h3>UX TOOLS</h3>
    <ul>
      <li>Sketch</li>
      <li>InVision</li>
      <li>Zeplin</li>
    </ul>
    <h3>STATUS</h3>
    <ul>
      <li>In Development</li>
    </ul>
  </div>
</section>

<h2>InVision Prototype</h2>
<section class="invision">
  <iframe width="972" height="720" src="//invis.io/DMKWX6IGVKB" frameborder="0" allowfullscreen></iframe></section>

<section class="overview">
  <div><img src="https://via.placeholder.com/440x590" alt=""></div>
  <div>
    <h2>Section Title</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi iste aliquid officia nam obcaecati placeat hic excepturi molestias. Ipsum aut atque vitae, et repudiandae iste nostrum? Totam placeat esse laboriosam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis tempore nobis quis laudantium minus itaque, sunt doloribus cumque ex ea ipsum corrupti ab magnam ducimus voluptate harum iure deserunt illo.</p>
  </div>
</section>

{% include footer.html %}
{% include scripts.html %}