{% include head.html %}
{% include header.html %}

<main>
<h1>{{ page.title }}</h1>
<section class="overview">
  <div><img src="/assets/img/weather/weathermockup.jpg" alt=""></div>
  <div>
    <h2>Overview</h2>
    <p>A Weather.com experience for OpenCar which required researching the website contents and deciding what would be relevant to a driver. I created an information architecture and wireframes based on my research. Then I used the styleguide I made, to create visuals and a prototype version to present to the stakeholders.</p>
    <h3>UX Concepts</h3>
    <ul>
      <li>Information Architecture</li>
      <li>Wireframes</li>
      <li>Prototyping</li>
    </ul>
    <h3>UX Tools</h3>
    <ul>
      <li>Sketch</li>
      <li>InVision</li>
      <li>Zeplin</li>
    </ul>
    <h3>Status</h3>
    <ul>
      <li>In Development</li>
    </ul>
  </div>
</section>

<h2>InVision Prototype</h2>
<section class="invision">
  <iframe width="972" height="720" src="//invis.io/DMKWX6IGVKB" frameborder="0" allowfullscreen></iframe></section>

<section class="overview">
  <div><img src="/assets/img/weather/infoarch.png" alt="Weather.com Information Architecture"></div>
  <div>
    <h2>User Stories and Information Architecture</h2>
    <p>User Stories were made by the engineering team and I used this information and Weather.com to make an Information Architecture</p>
  </div>
</section>
</main>

{% include footer.html %}
{% include scripts.html %}