{% include head.html %}
  {% include header.html %}

      <h1>Portfolio</h1>
      <main class="work">
      
        {% for work in site.portfolio %}
        <a href="{{ work.url }}">
          <section class="card">
            <div class="grow">
              <img src="{{ work.cover-image }}" alt="{{ work.title }}">
            </div> 
            <h4>{{ work.title }}</h4> 
          </section>
        </a>
        {% endfor %}
        
      </main>

      <a href="https://drive.google.com/file/d/1JnpiUhxEHaOPTu_6J3nJZo8TtMUe_ETv/view?usp=sharing" target="_blank" class="button is-dark level-item">PDF Portfolio</a>

  {% include footer.html %}
  {% include scripts.html %}